#layout-header{
  
}
.main-menu{
	background: #f6f6f6 url(<?=APP_HOME_LAYOUT?>images/main-menu-bg.png) repeat-x;
	color: #333;
  text-shadow: 0px 1px 0px #fff;
  padding: 0px;
}
.main-menu li{
	/* background: #333 url(<?=APP_HOME_LAYOUT?>images/main-menu-bg.png) repeat-x; */
	border-right: 1px solid #ccc;
	cursor: pointer;
	float: left;
	padding: 0px 10px;
  line-height: 20px;
}
.main-menu li:hover{
	background-color: #eee;
}
.main-menu li:active{
	background-color: #fef;
	color: #838;
  text-shadow: 0px -1px 0px #535;
}
