#application-navigation{
  background-color: #eee;
  overflow: hidden;
}
#navigation-tabs .tabs-list{
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#navigation-tabs .tabs-list li a{
  padding: 0px 4px 3px 4px;
  border-right: 1px solid #ccc;
  display: block;
}
#navigation-tabs .tabs-list li a:hover{
  background-color: #fff;
}

#collection-tab .search-bar{
  background-color: #e3e3e3;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
  padding: 2px 0px;
}
#collection-tab .search-bar #collection-search{
  border: none;
  color: #666;
  display: block;
  font-size: 90%;
  margin: 0px auto;
  padding-left: 4px;
  width: 95%;
}

#application-navigation li.top-level div.artist-letter{
	background: #f0f0f0 url(<?=APP_HOME_LAYOUT?>images/main-menu-bg.png) repeat-x;
  border-bottom: #ccc;
  color: #555;
  cursor: pointer;
  display: block;
  padding: 1px 0px 5px 4px;
}
#application-navigation li.top-level div.artist-letter:hover{
  background-color: #fff;
}

.collection-menu-area{
  overflow-y: auto;
}
div.artist-list-wrapper{
  color: #444;
  display: none;
  font-size: 85%;
}
div.artist-list-wrapper div.artist-name{
  background-color: #f2f4f3;
  cursor: pointer;
  overflow: hidden;
  padding: 1px 0px 3px 8px;
  white-space: nowrap;
}

div.artist-list-wrapper div.artist-name:hover{
  background-color: #ddd;
}

div.artist-list-wrapper div.album-list-wrapper{
  display: none;
}