.ui-layout-center{
  overflow: hidden;
}

#playlist-wrapper{
  position: relative;
  clear: both;
}
#playlist-header-wrapper{
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #eee;
}
#playlist-header li{
  border-right: 1px solid #e0e0e0;
  display: block;
  float: left;
  height: 20px;
  line-height: 23px;
  cursor: pointer;
}
#playlist-header li:hover{
  background-color: #f4f7fa;
}
#playlist-header li div{
  margin: 0px 2px;
}

#playlist-header li.currently-playing-column{
  border-right: 1px solid #eee;
}
#playlist-header li.rating-column{
  border-right: none;
  text-align: right;
}

#playlist-body-wrapper{
  background-color: #fff;
  border-left: 1px solid #ddd;
  overflow-y: scroll;
  cursor: pointer;
}
#playlist-scrollbar-fix{
  width: 100%;
  clear: both;
}
#playlist-body div.col{
  border-right: 1px solid #e0e0e0;
  display: block;
  float: left;
  font-size: 90%;
  height: 16px;
  line-height: 16px;
}

#playlist-body div.col.rating-column{
  border-right: none;
  text-align: right;
}

#playlist-body div.col div{
  margin: 0px 2px;
  overflow: hidden;
  white-space: nowrap;
}

#playlist-body div.track.e{
  background-color: #f9fbfc;
}
#playlist-body div.track{
  border-bottom: 1px solid #f4f6f9;
}
#playlist-body div.track.ui-selected{
  background-color: #ffd;
  border-bottom: 1px solid #eec;
}
